<!-- <div>
    <h1>My Goals</h1>
    <hr>
    <ul>
        <li appStrikethrough *ngFor='let goal of goals;let i = index'>
            {{goal.name}} due on {{goal.completeDate | date|uppercase}}
            <button (click)='toggleDetails(i)'>Toggle Details</button>
            <app-goal-detail-component *ngIf='goal.showDescription' [goal]='goal' (isComplete)='deleteGoal($event,i)'>
            </app-goal-detail-component>
        </li>
    </ul>
</div> -->
<div class="container">
    <h1>My Goals</h1>
    <hr>

    <div class="row">
        <div class="col-md-6">
            <div class="border m-3 p-3" *ngFor='let goal of goals;let i = index'>
                <div>
                    <h4 id={{i}} appStrikethrough>{{goal.name}} due on {{goal.completeDate|date|uppercase}}</h4>
                    <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
                </div>

                <div *ngIf='goal.showDescription'>
                    <app-goal-detail-component [goal]='goal' (isComplete)='deleteGoal($event,i)'>
                    </app-goal-detail-component>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
        </div>
    </div>

    <p *ngIf='goals.length > 5'>You have too many goals</p>
</div>